// /src/pages/RankingPage/partials/TopRanking/TopRanking.module.scss

// Dependencies
@import "@/styles/index.scss";

.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 240px);
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, minmax(0%, 100%));
  list-style-type: none;
  overflow: auto;
  padding-bottom: 12px;
}
