@import "@/styles/index.scss";

.body {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.mainTitle {
  color: #fff;
  border: 1px solid black;
}

.subtitle {
  color: #6b7280;
}

.tabs {
  width: 100%;
  padding-top: 20px;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 0 4px;
  height: 86%;
}

.quickActions {
  padding: 16px 0;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.logRunButton {
  min-width: 160px;
  height: 14%;
}

.runnerGif {
  width: 222px;
  height: 222px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}
