@import "@/styles/index.scss";

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include baseLayout();
  gap: 12px;
  height: 100vh;
  overflow: hidden;
  padding: 0 12px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.mainTitle {
  color: #fff;
  border: 1px solid black;
}

.subtitle {
  color: #6b7280;
}

.tabs {
  width: 100%;
  padding-top: 20px;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 0 4px;
}

.quickActions {
  padding: 16px 0;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.logRunButton {
  min-width: 160px;
}
